/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f9ff;
}

/* Header Styles */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.logo h1 span {
    font-size: 72px;
    color: #002855;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

/* Product Section */
.product-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-details {
    padding: 10px;
}

.product-details h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.product-details span {
    font-size: 24px;
    color: #002855;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 18px;
    margin: 20px 0;
}

.bargain-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bargain-input {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.bargain-button {
    padding: 10px 20px;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.bargain-button:hover {
    background-color: #e0a800;
}

.add-to-cart {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #002855;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #001f33;
}
